.sidebar {
  position: fixed;
  z-index: 999;
  top: 55px;
  left: 30px;
}

.details__filter {
  background-color: rgba(255, 255, 255, 0.15);
  border-bottom-right-radius: 40px;
  overflow: hidden;
  backdrop-filter: blur(3px);
  padding: 8px 0;
}

.details__filter .details__filter-tool {
  padding: 12px 8px;
  cursor: pointer;
  border-radius: 8px;
  user-select: none;
  position: relative;
}

.details__filter .details__filter-tool::before {
  content: "";
  width: 4px;
  height: 40px;
  background-color: #fff;
  border-radius: 0 3px 3px 0;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-100%, -50%);
  transition: all 0.2s;
}

.details__filter .details__filter-tool:hover::before {
  transform: translate(0, -50%);
}

.details__filter .details__filter-tool p {
  width: 100%;
  padding: 0 20px;
  color: #fff;
  font-weight: 600;
}

.details__filter .details__filter-tool.details__filter-tool--active::before {
  transform: translate(0, -50%) !important;
}
