@keyframes slide {
  0% {
    opacity: 0.4;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.overview__container {
  animation: slide 0.6s ease forwards;
}

.overview__container::-webkit-scrollbar,
.overview__container *::-webkit-scrollbar {
  display: none;
}

.overview__container .photo-view > div {
  visibility: hidden;
}

.overview__container .photo-view:hover > div {
  visibility: visible !important;
}
