.details__navbar {
  padding: 8px 15px;
  display: flex;
  gap: 83px;
  position: fixed;
  top: 20px;
  left: 50%;
  z-index: 999999;
  border-radius: 10px;
  overflow: hidden;
  background: linear-gradient(
    60deg,
    rgba(255, 255, 255, 0.7) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
  transform: translate(-50%, -200%);
  transition: all 0.2s linear;
  opacity: 0;
  box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.25),
    0px 3px 3px 0px rgba(255, 255, 255, 0.1) inset;
  backdrop-filter: blur(30px);
}

.details__navbar > div {
  color: #1b3c73;
}

.details__navbar button:disabled {
  cursor: not-allowed;
}

.details__navbar button:disabled:after {
  opacity: 0 !important;
}

.details__navbar button {
  height: 100%;
  padding: 20px;
  display: inline-flex;
  align-items: center;
  position: relative;
}

.details__navbar button.current-mode::after {
  transform: scaleX(1) !important;
  opacity: 1 !important;
}

.details__navbar button:after {
  content: "";
  width: 100%;
  height: 2px;
  background: #fff;
  border-radius: 5px;
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: "center";
  transition: all 0.2s ease-out;
  will-change: transform;
}

.details__navbar button:hover:after {
  transform: scaleX(1);
  opacity: 1;
}

.details__navbar button,
.details__navbar > div h3,
.details__navbar > div p {
  font-size: 20px;
  font-weight: 600;
}

.details__navbar--show {
  transform: translate(-50%, 0);
  opacity: 1;
}