#fly {
  padding: 8px 30px;
  border-radius: 8px;
  font-size: 25px;
  font-weight: 600;
  line-height: 120%;
  text-align: center;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 0 6px 0 #fff;
}

h1.project-name {
  line-height: normal !important;
  font-size: 50px;
  font-weight: 700;
  text-shadow: 2px 3px rgba(255, 255, 255, 0.5);
}

p {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
}
